body {
    font-family: "Noto Sans Khojki", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    background-color: #a25959; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
}

#wrapper {
    max-width: 800px;
    width: 100%;
    position:relative;
}

#intro {
    text-align: center; 
    background-color:#450e0e;
    color: #fff; 
    padding: 10px;
    border-radius: 5px;
    position: absolute; 
    top: 0;
    left: 0; 
    right: 0; 
}

#conversation {
    padding: 20px;
    border-radius: 5px;
    background-color: #f6dfdf;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto; 
    height: 400px; 
}

.user-message,
.bot-message {
    padding: 10px;
    margin: 5px 0;
    border-radius: 10px;
    max-width: 40%; /* Set maximum width to 40% */
    word-wrap: break-word;
    clear: both; /* Ensure each block starts on a new line */
}

.user-message {
    background-color: #3979be; /* Set user message background color to blue */
    color: #fff; /* Set user message text color to white */
    float: right;
}

.bot-message {
    background-color: #a43838; /* Set bot message background color to red */
    color: #fff; /* Set bot message text color to white */
    float: left;
}

#message-form {
    margin: 20px auto; /* Center the message form horizontally */
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 844px;
    background-color:#f6dfdf
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f6dfdf;
}

.button-wrapper {
    border-radius: 5px;
    background-color: white;
    border: 1px solid #ccc;
    background-color: #f6dfdf;

}

button[type="submit"] {
    padding: 10px 15px 10px 0px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    background-color: #f6dfdf;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}
